[submodule "hookio/lib/node-persistence"]
	path = hookio/lib/node-persistence
	url = git://github.com/creationix/node-persistence.git
[submodule "hookio/lib/mu"]
	path = hookio/lib/mu
	url = git://github.com/raycmorgan/Mu.git
[submodule "hookio/lib/twitter-node"]
	path = hookio/lib/twitter-node
	url = git://github.com/technoweenie/twitter-node.git
[submodule "hookio/lib/node_mailer"]
	path = hookio/lib/node_mailer
	url = git://github.com/Marak/node_mailer.git
[submodule "hookio/lib/node-oauth"]
	path = hookio/lib/node-oauth
	url = git://github.com/Tim-Smart/node-oauth.git
[submodule "hookio/lib/node_debug"]
	path = hookio/lib/node_debug
	url = git://github.com/Marak/node_debug.git
[submodule "hookio/lib/markdown"]
	path = hookio/lib/markdown
	url = git://github.com/kriskowal/markdown.git

